/* General Section Styling */
.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}

/* Flex Column Styling */
.flex-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
}

/* First Div: Text Row */
.text-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.text-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.text-content h1 {
    font-size: 2.48rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.3;
    color: var(--primary-color);
    max-width: 500px;

}

.text-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: var(--secondary-color);
    max-width: 500px;
}

/* Second Div: Colored Boxes */
.colored-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.box {
    flex: 1;
    height: 150px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.blue-box {
    background-color: #007bff;
}

.green-box {
    background-color: #28a745;
}



.colored-boxes-image {


    display: block;
}

.colored-boxes-image-mobile {
    display: none;


}



/* Responsive Design: Mobile View */
@media (max-width: 1024px) {
    .text-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .text-content {
        max-width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .text-content h1 {
        font-size: 2rem;
        margin-bottom: 0px;
    }

    .text-content p {
        font-size: 1rem;
        margin-top: 0px;
    }

    .colored-boxes {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 1224px) {
    .first-section {
        padding: 24px;

        align-self: center;
    }

    .colored-boxes-image-mobile {
        display: block;


    }

    .colored-boxes-image {

        display: none;
    }
}