.terms-and-conditions {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 24px;
    border-radius: 12px;
    color: #333;
    line-height: 1.6;
    margin: 140px 16px;

}

.header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 24px;
    color: var(--primary-color);
    text-align: center
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
    border-radius: 12px;
    color: #333;
    line-height: 1.6;
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: var(--accent-color);
}

h3 {
    font-size: 1.2rem;
    margin-top: 16px;
    font-weight: 600;
    color: var(--secondary-color);
}

p {
    margin-top: 8px;
    font-size: 1rem;
    text-align: left;
    color: var(--secondary-color);
}

@media (max-width: 768px) {
    .header {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    .terms-and-conditions {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0px;
        border-radius: 12px;
        color: #333;
        line-height: 1.6;
        margin: 140px 0px;
    }
}